@font-face {
    font-family: Minecraft;
    src: url(Minecraft.ttf);
}

#bg {
    z-index: -1;
    height: 100%;
    width: 100%;
}

.mc-btn {
    font-size: 20px;
    width: 200px;
    text-decoration: none;
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(16, 190, 83);
    background-color: blueviolet;
    color:chartreuse;
    padding: 10px;
}
#joindiv{
    z-index: 10;
    position: fixed;
    left: 9px;
    width: 30%;
    height: 97%;
    top: 9px;
    background-image: url("Stone\ Background.png");
    font-family: Minecraft;
    color:aliceblue;
}