@font-face {
    font-family: Minecraft;
    src: url(Minecraft.ttf);
}

body {
    font-family: Minecraft;
    color: aliceblue;
}

.Mc_Mob {
    width: 90%;
    height: 100px;
}

.more_about_minecraft {
    text-align: center;
}

#back {
    color: red;
    border: 5px ridge green;
}

.MCSites {
    width: 300px;
    height: 200px;
    border: ridge green 6px;
    padding: 10px;
}